/.build/
/_build/
/Build
/Build.bat
/blib
/Makefile

/carton.lock
/.carton/
/local/

nytprof.out
nytprof/

cover_db/

*.bak
*.old
*~
*.swp
*.o
*.obj
.DS_Store

!LICENSE

/_build_params

MYMETA.*

/Acme-PriPara-*
